.idea/*
Shiori/*
junk/*
secret/*
junk/sourchprofile/*
youtube-cookies.txt
ConfettiConi/*
Shioripublic/*
profiles/*
YozoraMel/*
*.7z
*.store
*.pma
*.dat
webscrape.html
profiles/Variations
profiles/ShaderCache/data_1
profiles/segmentation_platform/ukm_db-journal
profiles/segmentation_platform/ukm_db
profiles/Safe Browsing/UrlUws.store.4_13350672587843609
profiles/Safe Browsing/UrlUws.store.4_13350671151011870
profiles/Safe Browsing/UrlUws.store
profiles/Safe Browsing/UrlSuspiciousSite.store.4_13350667955770240
profiles/Safe Browsing/UrlSuspiciousSite.store
profiles/Safe Browsing/UrlSubresourceFilter.store.4_13350672587847704
profiles/Safe Browsing/UrlSubresourceFilter.store.4_13350668233509432
profiles/Safe Browsing/UrlSubresourceFilter.store
profiles/Safe Browsing/UrlSoceng.store.4_13350672587487622
profiles/Safe Browsing/UrlSoceng.store.4_13350671150658053
profiles/Safe Browsing/UrlSoceng.store
profiles/Safe Browsing/UrlMalware.store.4_13350672587839489
profiles/Safe Browsing/UrlMalware.store.4_13350671151007543
profiles/Safe Browsing/UrlMalware.store
profiles/Safe Browsing/UrlMalBin.store.4_13350672587850901
profiles/Safe Browsing/UrlMalBin.store.4_13350671151016016
profiles/Safe Browsing/UrlMalBin.store
profiles/Safe Browsing/UrlCsdAllowlist.store
profiles/Safe Browsing/UrlBilling.store.4_13350672587846188
profiles/Safe Browsing/UrlBilling.store.4_13350671151014493
profiles/Safe Browsing/UrlBilling.store
profiles/Safe Browsing/ChromeExtMalware.store.32_13350667955759634
profiles/Safe Browsing/ChromeExtMalware.store
profiles/Profile 7/WebStorage/QuotaManager
profiles/Profile 7/Web Data
profiles/Profile 7/Visited Links
profiles/Profile 7/trusted_vault.pb
profiles/Profile 7/Top Sites
profiles/Profile 7/Sync Extension Settings/chinfkfmaefdlchhempbfgbdagheknoj/LOG.old
profiles/Profile 7/Sync Extension Settings/chinfkfmaefdlchhempbfgbdagheknoj/LOG
profiles/Profile 7/Sync Data/Nigori.bin
profiles/Profile 7/Sync Data/LevelDB/LOG.old
profiles/Profile 7/Sync Data/LevelDB/LOG
profiles/Profile 7/Sync Data/LevelDB/000003.log
profiles/Profile 7/Site Characteristics Database/LOG.old
profiles/Profile 7/Site Characteristics Database/LOG
profiles/Profile 7/Site Characteristics Database/000003.log
profiles/Profile 7/shared_proto_db/metadata/LOG.old
profiles/Profile 7/shared_proto_db/metadata/LOG
profiles/Profile 7/shared_proto_db/metadata/000003.log
profiles/Profile 7/shared_proto_db/MANIFEST-000001
profiles/Profile 7/shared_proto_db/LOG.old
profiles/Profile 7/shared_proto_db/LOG
profiles/Profile 7/shared_proto_db/000003.log
profiles/Profile 7/Sessions/Tabs_13350672184598640
profiles/Profile 7/Sessions/Session_13350672184498897
profiles/Profile 7/Session Storage/MANIFEST-000001
profiles/Profile 7/Session Storage/LOG.old
profiles/Profile 7/Session Storage/LOG
profiles/Profile 7/Session Storage/000003.log
profiles/Profile 7/Service Worker/ScriptCache/index-dir/the-real-index
profiles/Profile 7/Service Worker/Database/LOG.old
profiles/Profile 7/Service Worker/Database/LOG
profiles/Profile 7/Service Worker/Database/000003.log
profiles/Profile 7/Safe Browsing Network/Safe Browsing Cookies
profiles/Profile 7/Preferences
profiles/Profile 7/Platform Notifications/LOG.old
profiles/Profile 7/Platform Notifications/LOG
profiles/Profile 7/Network/TransportSecurity
profiles/Profile 7/Network/Reporting and NEL
profiles/Profile 7/Network/Network Persistent State
profiles/Profile 7/Network/Cookies
profiles/Profile 7/Network Action Predictor
profiles/Profile 7/MediaDeviceSalts
profiles/Profile 7/Local Storage/leveldb/MANIFEST-000001
profiles/Profile 7/Local Storage/leveldb/LOG.old
profiles/Profile 7/Local Storage/leveldb/LOG
profiles/Profile 7/Local Storage/leveldb/000003.log
profiles/Profile 7/Local Extension Settings/mpiodijhokgodhhofbcjdecpffjipkle/LOG.old
profiles/Profile 7/Local Extension Settings/mpiodijhokgodhhofbcjdecpffjipkle/LOG
profiles/Profile 7/Local Extension Settings/mpiodijhokgodhhofbcjdecpffjipkle/000003.log
profiles/Profile 7/Local Extension Settings/jinjaccalgkegednnccohejagnlnfdag/LOG.old
profiles/Profile 7/Local Extension Settings/jinjaccalgkegednnccohejagnlnfdag/LOG
profiles/Profile 7/Local Extension Settings/chinfkfmaefdlchhempbfgbdagheknoj/LOG.old
profiles/Profile 7/Local Extension Settings/chinfkfmaefdlchhempbfgbdagheknoj/LOG
profiles/Profile 7/Local Extension Settings/chinfkfmaefdlchhempbfgbdagheknoj/000003.log
profiles/Profile 7/History-journal
profiles/Profile 7/History
profiles/Profile 7/GPUCache/data_3
profiles/Profile 7/GPUCache/data_2
profiles/Profile 7/GPUCache/data_1
profiles/Profile 7/GPUCache/data_0
profiles/Profile 7/GCM Store/LOG.old
profiles/Profile 7/GCM Store/LOG
profiles/Profile 7/GCM Store/Encryption/LOG.old
profiles/Profile 7/GCM Store/Encryption/LOG
profiles/Profile 7/GCM Store/000003.log
profiles/Profile 7/File System/Origins/LOG.old
profiles/Profile 7/File System/Origins/LOG
profiles/Profile 7/Favicons
profiles/Profile 7/Extension State/LOG.old
profiles/Profile 7/Extension State/LOG
profiles/Profile 7/Extension State/000003.log
profiles/Profile 7/DownloadMetadata
profiles/Profile 7/DIPS
profiles/Profile 7/DawnCache/data_1
profiles/Profile 7/CRXTelemetry/CRXTelemetry_3
profiles/Profile 7/CRXTelemetry/CRXTelemetry_2
profiles/Profile 7/CRXTelemetry/CRXTelemetry_1
profiles/Profile 7/CRXTelemetry/CRXTelemetry_0
profiles/Profile 7/Code Cache/js/index-dir/the-real-index
profiles/Profile 7/Code Cache/js/335e69ddec2b9ac6_0
profiles/Profile 7/Code Cache/js/0ff0015f8837ffb0_0
profiles/Profile 7/Cache/Cache_Data/data_3
profiles/Profile 7/Cache/Cache_Data/data_2
profiles/Profile 7/Cache/Cache_Data/data_1
profiles/Profile 7/Cache/Cache_Data/data_0
profiles/Local State
profiles/GrShaderCache/data_3
profiles/GrShaderCache/data_1
profiles/GrShaderCache/data_0
profiles/GraphiteDawnCache/data_1
profiles/first_party_sets.db
profiles/CrashpadMetrics-active.pma
profiles/Crashpad/settings.dat
profiles/Crashpad/metadata
profiles/component_crx_cache/hfnkpimlhhgieaddgfemjhofmfblmnib_1.21125cd6b69eeb643914429b93139371755d70a3ca2f4e78a4216acd6c03850c
profiles/BrowserMetrics/BrowserMetrics-65B286DF-A97C.pma
profiles/Breadcrumbs
